[submodule "thirdparty/champ"]
	path = thirdparty/champ
	url = https://github.com/lukevenediger/champ.git
[submodule "thirdparty/jquery"]
	path = thirdparty/jquery
	url = https://github.com/jquery/jquery.git
[submodule "thirdparty/bootstrap"]
	path = thirdparty/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "thirdparty/angularjs"]
	path = thirdparty/angularjs
	url = https://github.com/angular/angular.js.git
